* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.redd.it/rtlynwv7bmo61.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    backdrop-filter: blur(5px);
}

.form-container {
    background-color: rgba(159, 105, 229, 0.43); /* Semi-transparent white background */
    border: 1px solid rgb(0, 0, 0); /* Slightly transparent border */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin: 50px auto;
    max-width: 600px;
    padding: 40px; /* Increased padding for better spacing */
}

.form-header {
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    color: #000000; /* Change the color to blue */
    font-family: Arial, sans-serif; /* Change the font to Arial */
    font-size: 2em; /* Increase the font size */
}

.header-line {
    width: 100%;
    border-top: 3px solid #000000;
    margin-top: 20px;
    margin-bottom: 15px;
}

.subheader {
    text-align: center;
    font-size: 1.2em;
    margin-top: 15px;
    padding-top: 10px;
}

.form-control {
    margin-bottom: 20px; /* Increased margin for better spacing between form controls */
}

.form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.8); /* Darker text color for better readability */
}

.form-control input[type="date"],
.form-control input[type="text"],
.form-control select {
    width: calc(100% - 20px);
    padding: 10px; /* Increased padding for better input field appearance */
    border: 1px solid rgba(126, 126, 126, 0.5); /* Slightly transparent border */
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
}

.form-control select {
    appearance: none;
}

.buttons {
    text-align: center;
    margin-top: 20px; /* Increased margin for better spacing between buttons and form */
}

button {
    padding: 12px 24px; /* Increased padding for better button appearance */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background-color: #1f6dff;
    color: #fff;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #0c4dbf;
}

button[type="button"] {
    background-color: #ff3333;
    color: #fff;
}

button[type="button"]:hover {
    background-color: #cc0000;
}
